@import "tailwindcss";

@keyframes colorChange {
  0% { color: red; }
  50% { color: black; }
  100% { color: blue; }
}

@keyframes colorChangeSubT {
  0% { color: rgb(184, 212, 1); }
  50% { color: rgb(255, 255, 255); }
  100% { color: rgb(255, 89, 0); }
}

.animate-colorChange {
  animation: colorChange 2s infinite;
}

.animate-colorChangeSubT {
  animation: colorChangeSubT 2s infinite;
}

@keyframes scroll-left {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200% 0;
  }
}

.animate-scroll {
  animation: scroll-left 10s linear infinite;
}

@keyframes spin-3d {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.animate-spin-3d {
  animation: spin-3d 3s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
  will-change: transform;
}

